<form [formGroup]="menuForm">
  <div>
    <label for="category">Category:</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div>
    <label for="product">Product:</label>
    <select id="product" formControlName="product">
      <option *ngFor="let product of products" [value]="product">{{ product }}</option>
    </select>
  </div>

  <div>
    <label for="brand">Brand:</label>
    <select id="brand" formControlName="brand">
      <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
    </select>
  </div>
</form>

<app-chart [selectedCategory]="selectedCategory" [selectedProduct]="selectedProduct" [selectedBrand]="selectedBrand"></app-chart>
